#include <windows.h>
#include "MyDialog.h"

DATAENTRY DIALOG DISCARDABLE 0,0,220,100
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "DATAENTRY"

BEGIN

LTEXT "Name :",-1,35,10,30,10
EDITTEXT ID_ETNAME,70,10,100,10,WS_TABSTOP
 
LTEXT "Address :",-1,27,30,50,10
EDITTEXT ID_ETADDRESS,70,30,100,10,WS_TABSTOP

PUSHBUTTON "OK",IDOK,70,70,25,10
PUSHBUTTON "Cancel",IDCANCEL,100,70,30,10
END