//Microsoft Developer Studio generated resource script.
#include "Menu.h"
/////////////////////////////////////////////////////////////////////////////
// Menu
MENUDEMO MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", IDM_FILE_NEW
		MENUITEM "&Open", IDM_FILE_OPEN
		MENUITEM "&Save", IDM_FILE_SAVE
		MENUITEM "Save &As...", IDM_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_APP_EXIT
	END
	POPUP "&Edit"
		BEGIN
			MENUITEM "&Undo", IDM_EDIT_UNDO
			MENUITEM SEPARATOR
			MENUITEM "C&ut", IDM_EDIT_CUT
			MENUITEM "&Copy", IDM_EDIT_COPY
			MENUITEM "&Paste", IDM_EDIT_PASTE
			MENUITEM "De&lete", IDM_EDIT_CLEAR
		END
	POPUP "&Background"
		BEGIN
			MENUITEM "&White", IDM_BKGND_WHITE, CHECKED
			MENUITEM "&Light Gray", IDM_BKGND_LTGRAY
			MENUITEM "&Gray", IDM_BKGND_GRAY
			MENUITEM "&Dark Gray", IDM_BKGND_DKGRAY
			MENUITEM "&Black", IDM_BKGND_BLACK
		END
	POPUP "&Timer"
	BEGIN
		MENUITEM "&Start", IDM_TIMER_START
		MENUITEM "S&top", IDM_TIMER_STOP, GRAYED
	END
	POPUP "&Help"
		BEGIN
			MENUITEM "&Help...", IDM_APP_HELP
			MENUITEM "&About MenuDemo...", IDM_APP_ABOUT
	END
END